@model IEnumerable<EncaladaD_ExamenProgreso_1.Models.Recompensas>

@{
    ViewData["Title"] = "Recompensas";
}

<h1>Recompensas</h1>

<p>
    <a button type="button" class="btn btn-outline-success" asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.puntosAcumulados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                Tipo de Recompensa
            </th> <!-- NUEVA COLUMNA -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.puntosAcumulados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.clienteId)
                </td>
                <td>
                    <span class="badge @(item.TipoRecompensa == "GOLD" ? "bg-warning text-dark" : "bg-secondary")">
                        @item.TipoRecompensa
                    </span>
                </td> <!-- NUEVO VALOR MOSTRADO -->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.clienteId" class="btn btn-outline-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.clienteId" class="btn btn-outline-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.clienteId" class="btn btn-outline-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
