@model IEnumerable<EncaladaD_ExamenProgreso_1.Models.Reserva>

@{
    ViewData["Title"] = "Lista Reservas";
}

<h1>Reservas Realizadas</h1>

<p>
    <a button type="button" class="btn btn-secondary" asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorPagar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorPagar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.clienteId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.clienteId" class="btn btn-outline-warning btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.clienteId" class="btn btn-outline-info btn-sm">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.clienteId" class="btn btn-outline-danger btn-sm">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
